{{#partial "contenido"}}

        <section class = "content">
            <div>
            MENU DE LA COMPRA {{id}} </br>
                
            ID: {{id}} </br>
            Fecha de creacion original: {{fecha}} </br>
            Tipo de Medio de Pago: {{tipoMedioPago}} </br>
            Identificador de Medio de Pago: {{identificadorMedioPago}} </br>
            Cantidad de presupuestos requeridos: {{cantidadpresuprequeridos}} </br>
            Criterio de seleccion de presupuesto: {{criterioseleccion}} </br>
            Cantidad de presupuestos actuales??: {{cantidadpresupactuales}} </br>
			<a class = "link_boton" href = "/compras_pendientes/{{id}}/editar">  Editar datos </a>
			
            <fieldset class = "formulario">
            	{{{datosEntidad}}}
            </fieldset>
            </div>
            
            <div>
            <fieldset class = "formulario">
            	{{{datosProveedor}}}
            </fieldset>
            </div>
            
            <div>
            <fieldset class = "formulario">
                <legend>DETALLE</legend>
                	{{{ tablaDetalle }}}
					<a class = "link_boton" href = "/compras_pendientes/{{id}}/items/crear">  Crear nuevo item </a>
            </fieldset>
            </div>
            
            <div>
            <fieldset class = "formulario">
                <legend>PRESUPUESTOS</legend>
                	{{{ tablaPresupuestos }}}
					<a class = "link_boton" href = "/compras_pendientes/{{id}}/presupuestos/crear">  Crear nuevo presupuesto </a>
            </fieldset>
            </div>
            
            <a class = "link_boton_2" href = "/compras_pendientes">  Volver a la lista de compras pendientes</a>

{{/partial}}

{{>layout.hbs}}       