{{#partial "contenido"}}

<form class = "content">
	
	Id: {{ id }}	<br/>
	Nombre: {{ nombre }}	<br/>
	Tipo de Empresa: {{ tipoEmpresa }}	<br/>
	
	Razon Social: {{ razonSocial }}	<br/>
	CUIT:  {{ cuit }}	<br/>
	Direccion postal: {{ direccionPostal }}	<br/>
	Codigo de inscripcion: {{ codigoInscripcion }}	<br/>
	
	Tabla de compras:
	
	Tabla de categorias:
	
	<a class = "link_boton" href = "agregar_categoria">  Agregar Categoria  </a>
	
	Tabla de entidades base:
	
	<a class = "link_boton" href = "agregar_entidad_base">  Agregar Entidad Base  </a>

    <a class = "link_boton" href = "entidad_juridica/reportes_mensuales????">  Ver reporte mensual   </a>
    <br/>
    <a class = "link_boton" href = "/entidades">  Volver  </a>
</form>

{{/partial}}

{{>layout.hbs}}